*{
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #6A359C;
    --secondary-color: #9969C7;
    --tertiary-color: #B589D6;
    --quaternary-color: #B589D6;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content:space-evenly; 
    align-items: center; 
    gap: 10px;
    padding: 8px;
 
    
}

nav ul li, a {
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 10px;
    

}
nav {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: x-large;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    
}
.picc {
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 25%; 
    height: auto; 
    margin-right: 170px;
    margin-top: -40px;
    border-radius: 50%;  
}   
.text1 {
    font-size: 25px;
    font-weight: normal;
    color: white;
    margin-top: 165px;
    margin-left: 160px;
    
}
.text2 { 
    font-size: 65px;
    font-weight: bold;
    color: #967bb6;
    margin-top: 0px;
    margin-left: 160px;


}

.text3 {
    font-size: 90px;
    font-weight: 750;
    color: #967bb6;
    margin-top: 0px;
    margin-left: 160px;
    
}
.inter-inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 0px;
    font-size: 25px;
    font-weight: bold;
    color: #967bb6;
}

.about-box {
    width: 80%; 
    max-width: 800px;
    padding: 50px; 
    margin: 40px auto; 
    background-color: #967bb6; 
    border: 2px solid #967bb6;
    border-radius: 10px; 
    font-family: 'Inter', serif; 
    text-align:justify; 
    
}

.about-box ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    
}

.about-box p {
    font-size: 18px; 
    color: white;
    margin-bottom: 15px; 
    font-weight: 500; 
    font-size: 25px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 0 0px;
    font-size: 25px;
    font-weight: bold;
    color: #967bb6;
}

.skills-box {
    width: 80%; 
    max-width: 800px;
    padding: 50px; 
    margin: 40px auto; 
    background-color: #967bb6; 
    border: 2px solid #967bb6;
    border-radius: 10px; 
    font-family: 'Inter', serif; 
    text-align: left;
}

.skills-box ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.skills-box li {
    font-size: 18px; 
    color: white; 
    margin-bottom: 40px; 
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    width: 70%;
}

.percentage-bar {
    width: 30%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.bar {
    height: 10px;
    background-color: #6A359C; 
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 0 0px;
    font-size: 25px;
    font-weight: bold;
    color: #967bb6;
}

.projects-box {
    width: 80%; 
    max-width: 800px;
    padding: 50px; 
    margin: 40px auto; 
    background-color: #967bb6; 
    border: 2px solid #967bb6;
    border-radius: 10px; 
    font-family: 'Inter', serif; 
    text-align: left; 
    margin-bottom: 100px;
    
}

.projects-box ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    gap: 20px; 
    justify-content: center; 
}

.projects-box li {
    display: inline-block; 
}

.project-image {
    width: 200px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.project-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 0 0px;
    font-size: 25px;
    font-weight: bold;
    color: #967bb6;
}

.contacts-box {
    width: 80%; 
    max-width: 800px;
    padding: 50px; 
    margin: 40px auto; 
    background-color: #967bb6; 
    border-radius: 10px; 
    font-family: 'Inter', serif; 
    text-align: left; 
    margin-bottom: 100px;
    
}

.contacts-box ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    gap: 20px; 
    justify-content: center; 
}

.contacts-box li {
    display: inline-block; 
}

.contact-image {
    width: 200px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.contact-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}


.bg{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
}
body {
    background-color: #1e0833;
}

.generalpadding {
    padding: 0 5%;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 0 0px;
    font-size: 50px;
    font-weight: bold;
    color:  #dcc7ec;
    animation: bounce 1s infinite ease-in-out;
    
}

.arrow-container:hover {
    color: #6A359C;  
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}



